body {
	margin: 0;
	padding: 0;
	background-color: #d5e1ef; /* Example style */
    box-sizing: border-box;
    font-family: "Outfit";
}

main {


}

section {
    border: 1px black;
    border-radius: 5%;
    background-color: white;
    padding: 5%;
    margin: 2%;
}

h3 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}


p {
     color:hsl(216, 15%, 48%);
     font-size: 15px;
     font-weight: 400;;
}
.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.top-left {
    grid-column: 1;
    grid-row: 1;
}

.top-center { 
    grid-column: 2;
    grid-row: 1;
}

.top-right { 
    grid-column: 3;
    grid-row:  1;
}

.mid-left {
     grid-column: 1;
     grid-row: 2; 
}

.mid-center { 
    grid-column: 2;
    grid-row: 2;
}

.mid-right { 
    grid-column: 3;
    grid-row: 2;}

.low-left {
     grid-column: 1;
     grid-row: 3; 
}

.low-center { 
    grid-column: 2;
    grid-row: 3;}

.low-right { 
    grid-column: 3;
    grid-row: 3;}

.qr-code {
max-width: 100%;
height: auto;
border-radius: 5%;
}

